@media only screen and (max-width: 720px) {
    .weather-cards {
        flex-direction: column;
        padding: 0;
    }
}

.weather-card {
    border-radius: 20px;
    background: #152c39;
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    margin: 40px;
}

.weather-card:hover {
    box-shadow: 0 0 32px -20px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 32px -20px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 32px -20px rgba(0, 0, 0, 1);
    outline: none;
}

.weather-card__location {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: start;
    align-content: flex-start;
    flex-direction: column;
    padding-left: 10px;
}

.weather-card__location .city {
    color: #f5f5f5;
    font-size: 14px;
    margin-bottom: 0;
}

.weather-card__location .country {
    opacity: 0.48;
    color: #d1d1d1;
    font-size: 14px;
    margin: 0;
}

.weather-card__condition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 10px 10px 0 10px;
}

.weather-card__condition h2 {
    color: #ffffff;
    font-size: 35px;
}

.weather-card__condition .icon {
    width: 88px;
    height: 93px;
    background-image: url("/assets/imgs/weather/sun/26.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.weather-card__rw {
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 10px;
    padding-right: 10px;
    max-width: available;
    width: 100%;
}

.weather-card__rw .rain {
    font-size: 13px;
    flex-shrink: 0;
}

.weather-card__rw .wind {
    font-size: 13px;
    flex-shrink: 0;
}

.weather-card__rw .rain p svg {
    opacity: 0.4;
}

.weather-card__rw .wind p svg {
    opacity: 0.4;
}

.weather-card:last-of-type {
    background-color: transparent;
    border-color: #152c39;
    border-width: medium;
    border-style: solid;
    cursor: pointer;
}

.weather-card:last-of-type svg {
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
    color: white;
    fill: white;
    padding-left: 20px;
    padding-right: 20px;
}