@import "/assets/css/colors.css";
@import "/assets/css/search.css";
@import "/assets/css/cards.css";
@import "/assets/css/text.css";
@import "/assets/css/alert.css";

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #081b24;
    font-size: 22px;
}

.app {
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}