@media only screen and (max-width: 720px) {
    .search-form {
        padding: 0;
    }
}

.search-form {
    max-width: 315px;
    max-height: 40px;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.search-form .search-bar {
    display: flex;
    align-items: center;
    position: relative;
}

.search-form .search-bar input {
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 100%;
    background-color: #152c39;
    padding: 5px 32px;
    position: relative;
    border: none;
    font-size: medium;
}

.search-form .search-bar input:hover, .search-form .search-bar input:focus {
    box-shadow: 0 0 28px -15px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 28px -15px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 28px -15px rgba(0, 0, 0, 1);
    outline: none;
}

.search-form .search-bar i:first-child{
    left: 8px;
    position: absolute;
    z-index: 9999;
}

.search-form .search-bar i:last-child {
    right: 8px;
    position: absolute;
    z-index: 9999;
}

.search-form .search-bar svg:first-child{
    left: 8px;
    position: absolute;
    z-index: 9999;
}

.search-form .search-bar svg:last-child {
    right: 8px;
    position: absolute;
    z-index: 9999;
}

.results {
    padding: 20px;
}

.results-title {
    padding: 20px;
}

.result {
    background-color: #3b4151;
    width: 100%;
    max-height: 250px;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.result .location {
    padding: 0;
    margin: 0;
}

.result .location p {
    padding: 0;
    margin: 0;
}

.result .conditions {
    display: flex;
    flex-direction: row;
    align-content: baseline;
    align-items: flex-start;
    font-size: medium;
}

.result .conditions div {
    padding: 2px;
}

.result:hover {
    box-shadow: 0 0 32px -20px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 32px -20px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 32px -20px rgba(0, 0, 0, 1);
    outline: none;
}

.no-results {
    text-align: center;
}